apiVersion: v1
kind: Service
metadata:
  name: go-app-service
  namespace: {{ .Values.namespace }}
spec:
  type: NodePort
  selector:
    app: go-app
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 31234